*.stash
*.db
*.vcxproj
*.opendb
build/windows/src
build/windows/test
build/windows/debug
build/windows/release
*.filters
build/windows/target_wrapper.bat
build/windows/CuteGedcom_resource.rc
build/windows/CuteGedcom.sln
build/windows/cgGedcom.sln
